html {
  box-sizing: border-box;
  background-image: url('../images/lj_marsh.jpg');
  background-repeat: no-repeat; 
  background-size: cover;
  font-family:'courier new';
  font-size: 20px;
  font-weight: 200;
  color:seashell;
  overflow: hidden;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  overflow: scroll;
}

#root {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  max-width: 1200px;
  height: 100vh;
  margin: 0 auto;
  padding: 50px 0;
}

.search-bar {
  display: flex; /* flex-container */
  align-items: baseline;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 10px 0 20px 0;
  color: black;
  font-size: 16px;
}

.search-elem {
  padding: 5px 0;
}

.search {
  height: 25px;
  border-radius: 5px;
}

input {
  border-radius: 3px;
  border: 1px solid black;
  padding: 5px;
  height: 20px;
}

input[type='checkbox']{
  margin-bottom: 0;
  vertical-align: bottom;
}

input[type='radio']{
  margin-top: -1px;
  vertical-align: middle;
}

select {
  border-radius: 3px;
  border: 1px solid black;
  margin-right: 5px;
  height: 20px;
}

label {
  display: inline-block;
  padding-left: 0px;
  margin-bottom: 0;
}

.results {
  display: inline-block;
  vertical-align: top;
  border-radius: 10px;
  background-color: rgba(0,0,0,0.4);
  margin-bottom: 50px;
}

.results-controls {
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  align-items: baseline;
}

.results-controls button {
  border-radius: 8px;
  border: none;
  background-color: rgba(256,256,256,0.4);
  margin: 5px;
}

.results ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.results li {
  border-bottom: 1px solid black;
  padding: 10px;
  font-size: 18px;
  word-wrap: break-word;
}

.results li:last-child {
  border-radius: 0 0 10px 10px;
}

li.selected  {
  background-color: rgba(50,70,50,0.5);
  font-weight: bold;
}

.results .sender {
  color: lightgray;
  font-size: 16px;
}

.viewer {
  display: inline-block;
  vertical-align: top;
  border-radius: 10px;
  margin-bottom: 50px;
  padding: 30px;
  background-color: rgba(256,256,256,0.4);
  color: black;
}

/* Back to search results - only visible on small screens */
.back-button {
  margin: 10px 0;
  height: 20px;
  border: none;
  border-radius: 0;
  background-color: transparent;
  text-decoration: underline;
}

.viewer-header {
  font-weight: bold;
  color: rgba(50,70,50,0.9);
  font-size: 18px;
}

.viewer-body {
  white-space: pre-wrap;
  overflow: hidden;
  table-layout: fixed;
  text-overflow: ellipsis;
}

.viewer-label {
  font-style: italic;
}

header .icon {
  max-height: 60px;
}

/* highlighted text */
.hl {
  background: rgba(207, 226, 33, 0.274);
}

/* Small screens */
@media only screen and (max-width : 755px) {
  #root {
    padding: 0;
  }
  
  header {
    display: none;
  }

  /* Search box itself */
  .search {
    width: 100%;
    border-radius: 0;
    border: none;
  }
  
  .search-bar {
    justify-content: flex-start;
    flex-wrap: wrap;
    margin: 0;
  }

  .search-elem {
    padding: 5px;
  }

  .results {
    border-radius: 0;
    margin: 0;
    width: 100%;
  }

  .results.active {
    display: none;
  }

  .results li {
    word-wrap: break-word;
  }

  .results li:last-child {
    border-radius: 0;
  }

  .viewer {
    width: 100%;
    padding: 20px;
    margin: 0;
    border-radius: 0;
    white-space: wrap;
    overflow: hidden;
    word-wrap: break-word;
  }

  .back-button {
    display: true;
  }
}

@media only screen  and (min-width : 756px) {
  .search-bar {
    width: 750px;
    justify-content: flex-start;
    flex-wrap: wrap;
  }

  .results {
    width: 230px;
  }

  .viewer {
    width: 500px;
    margin-left: 20px;

  }

  .back-button {
    display: none;
  }

}

@media only screen and (min-width : 1056px) {

  .search-bar {
    width: 1000px;
    justify-content: space-between;
    font-size: 14px;
  }

  .results {
    width: 300px;
  }

  .viewer {
    width: 680px;
    margin-left: 20px;
  }
}



@media only screen  and (min-width : 1224px) {
  .search {
    width: 200px;
  }
  .search-bar {
    width: 1200px;
    justify-content: space-between;
  }

  .results {
    width: 380px;
  }

  .viewer {
    width: 800px;
    margin-left: 20px;
  }
}

