html {
  box-sizing: border-box;
  background-image: url('../images/lj_marsh.jpg');
  background-repeat: no-repeat; 
  background-size: cover;
  font-family:'courier new';
  font-size: 20px;
  font-weight: 200;
  color:seashell;
  overflow: hidden;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  overflow: scroll;
}

#root {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  max-width: 1200px;
  height: 100vh;
  margin: 0 auto;
  padding: 50px 0;
}

.search-bar {
  display: flex; /* flex-container */
  align-items: baseline;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 10px 0 20px 0;
  color: black;
  font-size: 16px;
}

.search-elem {
  padding: 5px 0;
}

.search {
  height: 25px;
  border-radius: 5px;
}

input {
  border-radius: 3px;
  border: 1px solid black;
  padding: 5px;
  height: 20px;
}

input[type='checkbox']{
  margin-bottom:-2px;
  vertical-align: bottom;
}

input[type='radio']{
  margin-top: 0px;
  vertical-align: top;
}

select {
  border-radius: 3px;
  border: 1px solid black;
  margin-right: 5px;
  height: 20px;
}

label {
  display: inline-block;
  padding-left: 0px;
  margin-bottom: 0;
}

.results {
  display: inline-block;
  vertical-align: top;
  border-radius: 10px;
  background-color: rgba(0,0,0,0.4);
  margin-bottom: 50px;
}

.results-controls {
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  align-items: baseline;
}

.results-controls button {
  border-radius: 8px;
  border: none;
  background-color: rgba(256,256,256,0.4);
  margin: 5px;
}

.results ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.results li {
  border-bottom: 1px solid black;
  padding: 10px;
  font-size: 18px;
  word-wrap: break-word;
}

.results li:last-child {
  border-radius: 0 0 10px 10px;
}

li.selected  {
  background-color: rgba(50,70,50,0.5);
  font-weight: bold;
}

.results .sender {
  color: lightgray;
  font-size: 16px;
}

.viewer {
  display: inline-block;
  vertical-align: top;
  border-radius: 10px;
  margin-bottom: 50px;
  padding: 30px;
  background-color: rgba(256,256,256,0.58);
  color: black;
}

/* Back to search results - only visible on small screens */
.back-button {
  margin: 10px 0;
  height: 20px;
  border: none;
  border-radius: 0;
  background-color: transparent;
  text-decoration: underline;
}

.viewer-header {
  font-weight: bold;
  color: rgba(30,60,30,0.9);
  font-size: 18px;
}

.viewer-body {
  white-space: pre-wrap;
  overflow: hidden;
  table-layout: fixed;
  text-overflow: ellipsis;
}

.viewer-line {
  padding-bottom: 3px;
}

header .icon {
  max-height: 60px;
}

/* highlighted text */
.hl {
  background: rgba(200, 250, 0, 0.15);
}

/***********************/
/**** MEDIA QUERIES ****/
/***********************/

/* SMALL screens */
@media only screen and (max-width : 755px) {
  #root {
    padding: 0;
  }
  
  header {
    display: none;
  }

  /* Search box itself */
  .search {
    width: 100%;
    height: 40px;
    border-radius: 0;
    border: none;
  }
  
  .search-bar {
    justify-content: flex-start;
    flex-wrap: wrap;
    margin: 0;
    padding-top: 10px;
  }

  .search-elem {
    padding: 5px;
  }

  .results {
    border-radius: 0;
    margin: 0;
    width: 100%;
    background-color: rgba(0,5,0,0.5);
  }

  .results.active {
    display: none;
  }

  .results li {
    word-wrap: break-word;
  }

  .results li:last-child {
    border-radius: 0;
  }

  .viewer {
    width: 100%;
    padding: 20px;
    margin: 0;
    border-radius: 0;
    white-space: wrap;
    overflow: hidden;
    word-wrap: break-word;
    font-size: 16px;
    background-color: rgba(256,256,256,0.65);
  }

  .viewer-header {
    font-size: 16px;
  }
  
  .back-button {
    display: true;
  }
}

@media only screen  and (min-width : 756px) {
  .search-bar {
    width: 750px;
    justify-content: flex-start;
    flex-wrap: wrap;
  }

  .results {
    width: 230px;
  }

  .viewer {
    width: 500px;
    margin-left: 20px;

  }

  .back-button {
    display: none;
  }

}

@media only screen and (min-width : 1056px) {

  .search-bar {
    width: 1000px;
    justify-content: space-between;
    font-size: 14px;
  }

  .results {
    width: 300px;
  }

  .viewer {
    width: 680px;
    margin-left: 20px;
  }
}

@media only screen  and (min-width : 1224px) {
  .search {
    width: 180px;
  }
  .search-bar {
    width: 1100px;
    justify-content: space-between;
    font-size: 16px;
    margin: 15px 0 30px 0;
  }

  .results {
    width: 330px;
  }

  .viewer {
    width: 750px;
    margin-left: 20px;
  }
}


/* Spinner by @Lukehass https://projects.lukehaas.me/css-loaders/ */

.loader,
.loader:after {
  border-radius: 50%;
  width: 2.5em;
  height: 2.5em;
}
.loader {
  margin: 5px auto;
  font-size: 10px;
  position: relative;
  text-indent: -9999em;
  border-top: 0.4em solid rgba(167,255,223, 0.2);
  border-right: 0.4em solid rgba(167,255,223, 0.2);
  border-bottom: 0.4em solid rgba(167,255,223, 0.2);
  border-left: 0.4em solid seashell;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load8 1.1s infinite linear;
  animation: load8 1.1s infinite linear;
}
@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}


.loader.disabled {
  width: 0px;
  height: 0px;
  border: none;
  overflow: hidden;
  transition: height width 0.2s;
  -moz-transition: height 0.2s; /* Firefox 4 */
  -webkit-transition: height 0.2s; /* Safari and Chrome */
  -o-transition: height 0.2s; /* Opera */
}